# this is a comment line

# we can use "#" to add comments lines to .gitigit rmgnore

# my InteliJ idea related file
    .idea/
    *.iml git status




    # git rm -r --cached .
    # this command is going to remove everything that is cached to be updated in your GitHub remote repositorygit rm -r --cached
    
    
# doing something new
